@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!!</h1>
    <p>Exemplo de CRUD Utilizando: <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core E SQL Server Express</a>.</p>
</div>
